body{
    background: #0f1eed;;
    
}
.container{
    border:1px solid black;


    width:95%;
    height:100vh;
    display:flex;
    text-align: center;
}
.quotes{
    border:1px solid black;
     width:900px;
    height:450px;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    color: gray;
    background-color: #f4edea;
    border: 10px solid #f4edea;
}
.quotes p,.quotes h3{
    font: 1.5rem;
}
@media (max-width:480px) {
    .quotes p,.quotes h3{
        font-size: 1.5rem;
    }
}